<div class="center-column" id="decisions-header">

  <ul>
    <li><%= link_to "All Dilemmas", decisions_path %></li>
    <li><%= link_to "New Dilemma", new_decision_path %></li>
    <li><%= link_to "Most Decisive", most_decisive_users_path %></li>
    <li><%= link_to "Most Indecisive", most_indecisive_users_path %></li>
    <li><%= link_to "All Users", users_path %></li>
  </ul>

</div>
