<%= image_tag @user.image_path, id: "user-slide-avatar" if @user.image_path %>
  <h3><strong><%= link_to @user.username, @user %>'s dilemmas</strong></h3>
  <p>
    <%= @user.first_name %> <%= @user.last_name %>
  </p>
  <h3>Decisions Made: <%= @user.number_of_decisions_made %></h3>
  <h3>Dilemmas Posed: <%= @user.number_of_dilemmas_posed %></h3>
  </div>
