<%= render "header" %>

<div class="center-column group">

  <%= render "profile_card" %>

  <div class="decision-strip">
    <% if !@user %>
    <div class="new-decision-from-index">
      <%= form_tag new_decision_path, method: :get do %>
      <div class="field">
        <%= text_field_tag :title, "", id: "new_from_index", placeholder: "What do you need help deciding?" %>
        <%= submit_tag "+", id: "decision_title_submit" %>
      </div>
      <% end %>
      <h3>Or, you can be a part of these decisions:</h3>
    </div>
    <% else %>
    <div id="user-slide">
      <%= image_tag @user.avatar.image_path, id: "user-slide-avatar" if @user.avatar %>
      <h3><strong><%= link_to @user.username, @user %>'s dilemmas</strong></h3>
      <p>
        <%= @user.first_name %> <%= @user.last_name %>
      </p>
      <h3>Decisions Made: <%= @user.number_of_decisions_made %></h3>
      <h3>Dilemmas Posed: <%= @user.number_of_dilemmas_posed %></h3>
    </div>
    <% end %>

    <% @decisions.each do |decision| %>
      <article class="group">
        <%= link_to image_tag(decision.author.avatar.image_path, class: "article-avatar"), decision.author if decision.author  %>
        <h2><strong>"</strong><%= decision.title %><strong>"</strong></h2>

        <div id="vote-btn-wrapper">
          <% if !current_user.voted_decisions.include?(decision) %>
            <% if decision.content.length > 100 %>
              <h5><%= truncate(decision.content, length: 80) %>
                <%= link_to '[read more]', '', class: "read-more-#{decision.id}" %>
            <script>
              $('.read-more-<%= decision.id %>').on('click', function(e) {
                e.preventDefault()
                $(this).parent().html('<%= escape_javascript decision.content %>')
              })
            </script></h5>
            <% else %>
              <h5><%= decision.content %></h5>
            <% end %>

            <%= render partial: 'votes/option_boxes', locals: {decision: decision} %>

          <% else %>
          <h5>You've already voted on this question:</h5>

            <%= render partial: 'votes/option_boxes', locals: {decision: decision} %>

          <% end %>
        </div>
        <br>
        <div id="decision-details">
          <% if Time.now < decision.deadline %>
            <h5><%= link_to decision.author.username, decision.author if decision.author %> needs to know in <%= distance_of_time_in_words(Time.now, decision.deadline) %><%= link_to " - - delete", decision, method: :delete if decision.author == current_user %></h5>
          <% else %>
            <h5><%= decision.author ? (link_to decision.author.username, decision.author) : "a former user" %> needed to know by <%= decision.deadline.strftime("%I:%M %p") %> on <%= decision.deadline.strftime("%B %d, %Y") %>, and you're too late.<%= link_to " - - delete", decision, method: :delete if decision.author == current_user %></h5>
            <h5><%= link_to "pleasantly discuss this with others", '/' %></h5>
          <% end %>
        </div>
      </article>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $("#vote-btn").click(function(evt) {
       $("#option-box").load(".option-box")
       evt.preventDefault();
    })
  })
</script>
