<%= render "header" %>

<div class="center-column group">

<div class="left-cards">
  <%= render "users/profile_card" %>
  <%= render 'discussions/discussions_card' %>
</div>

  <div class="decision-strip">
    <% if !@user %>
      <%= render 'new_from_index' %>
    <% else %>
    <div class="user-slide">
      <%= render 'user_decisions' %>
    <% end %>
    <div id="just-decisions">
      <% @decisions.each do |decision| %>
        <div id="decision-wrapper-<%= decision.id %>">
          <%= render partial: 'decision_card', locals: {decision: decision} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
