<%= render "header" %>

<div class="center-column group">

  <div class="profile-card">
    <%= image_tag current_user.avatar.image_path, id: "profile-card-avatar" if current_user.avatar %>
    <h2>@<%= current_user.username %></h2>
    <h3>Decisions Made: <%= current_user.number_of_decisions_made %></h3>
    <h3>Dilemmas Posed: <%= current_user.number_of_dilemmas_posed %></h3>
    <br>
    <ul>
      <li>First Name: <%= current_user.first_name if current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <% if current_user.most_recent_decision_made %>
        <li>Most Recent Decision Made: <%= link_to current_user.most_recent_decision_made.title, current_user.most_recent_decision_made %></li>
      <% end %>
      <% if current_user.most_recent_dilemma_posed %>
        <li>Most Recent Dilemma Posed: <%= link_to current_user.most_recent_dilemma_posed.title, current_user.most_recent_dilemma_posed %></li>
      <% end %>
    </ul>
  </div>

  <div class="decision-strip">
    <div class="new-decision-from-index">
      <%= form_for @decision, :url => '/decisions/new_from_index' do |f| %>
      <div class="field">
        <%= f.text_field :title, placeholder: "What do you need help deciding?" %><%= f.submit "+", id: "decision_title_submit" %>
      </div>
      <% end %>
    </div>

    <h3>Or, you can be a part of these decisions:</h3>

    <% @decisions.each do |decision| %>
      <article class="group">
        <%= link_to image_tag(decision.author.avatar.image_path, class: "article-avatar"), decision.author if decision.author.avatar %>
        <h2><strong>"</strong><%= decision.title %><strong>"</strong></h2>
        <% if decision.content.length > 100 %>
          <h5><%= truncate(decision.content, length: 80) %>
            <%= link_to '[read more]', '', class: "read-more-#{decision.id}" %>
        <script>
          $('.read-more-<%= decision.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript decision.content %>')
          })
        </script></h5>
        <% else %>
          <h5><%= decision.content %></h5>
        <% end %>
        <div id="vote-btn-wrapper">
          <% if !current_user.decisions_made.include?(decision) %>
            <% div_number = 0 %>
            <% decision.options.each do |option| %>
            <% div_id = "option-box-#{div_number}" %>
            <div class: "option-box", id="<%= div_id %>">
              <%= link_to option.content, decision_option_vote_path(decision.id, option.id), method: :post, id: "vote-btn" %><br>
              <%= link_to option.vote_count, option, id: "vote-count" %>
            </div>
            <% div_number += 1 %>
            <% end %>
          <% else %>
            <% div_number = 0 %>
            <% decision.options.each do |option| %>
            <% div_id = "option-box-#{div_number}" %>
            <div class: "option-box", id="<%= div_id %>">
              <% if current_user.vote_content(decision) == option.content %>
                <%= link_to option.content, decision_option_vote_path(decision.id, option.id), method: :post, id: "vote-selected-btn" %>
              <% else %>
                <%= link_to option.content, decision_option_vote_path(decision.id, option.id), method: :post, id: "vote-rejected-btn" %>
              <% end %>
              <br>
              <%= link_to option.vote_count, option, id: "vote-count" %>
            </div>
            <% div_number += 1 %>
            <% end %>
          <% end %>
        </div><br>
        <div id="decision-details">
          <% if Time.now < decision.deadline %>
            <h5><%= link_to decision.author.username, decision.author %> needs to know in <%= distance_of_time_in_words(Time.now, decision.deadline) %><%= link_to " - - delete", decision, method: :delete if decision.author == current_user %></h5>
          <% else %>
            <h5><%= link_to decision.author.username, decision.author %> needed to know by <%= decision.deadline.strftime("%I:%M %p") %> on <%= decision.deadline.strftime("%B %d, %Y") %>, and you're too late.</h5>
          <% end %>
        </div>
      </article>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $("#vote-btn").click(function(evt) {
       $("#option-box").load(".option-box")
       evt.preventDefault();
    })
  })
</script>
