<div class="center-column">
  <div class="new-decision-from-index">
    <%= form_for @decision, :url => '/decisions/new_from_index' do |f| %>
    <div class="field">
      <%= f.text_field :title, placeholder: "What do you need help deciding?" %><%= f.submit "+", id: "decision_title_submit" %>
    </div>
    <% end %>
  </div>

  <h3>Or, you can be a part of these decisions:</h3>

  <% @decisions.each do |decision| %>
    <article>
      <h2><strong>"</strong><%= decision.title %><strong>"</strong></h2>
      <div id="vote-btn-wrapper">
        <% div_number = 0 %>
        <% decision.options.each do |option| %>
        <% div_id = "option-box-#{div_number}" %>
        <div id="<%= div_id %>">
          <%= link_to option.content, decision_option_vote_path(decision.id, option.id), method: :post, class: "vote-btn" %><br>
          <%= link_to option.vote_count, option, id: "vote-count" %>
        </div>
        <% div_number += 1 %>
        <% end %>
      </div><br>
      <div id="decision-details">
        <h5><%= link_to decision.author.username, decision.author %> needs to know by <%= decision.deadline %> - - <%= link_to "More info on this post", decision %></h5>
      </div>
    </article>
  <% end %>
</div>
