<div class="profile-card card">
  <%= image_tag current_user.image_path, id: "profile-card-avatar" if current_user.image_path %>
  <h2 class="profile-header">Hi @<%= current_user.username %>!</h2>
  <h3>Votes Cast: <%= current_user.number_of_decisions_made %></h3>
  <h3>Dilemmas Posed: <%= current_user.number_of_dilemmas_posed %></h3>
  <br>
  <ul>
    <li>First Name: <%= current_user.first_name if current_user.first_name %></li>
    <li>Last Name: <%= current_user.last_name %></li>
    <% if current_user.most_recent_decision_made %>
      <li>Most Recent Input Given: <%= link_to current_user.most_recent_decision_made.title, current_user.most_recent_decision_made %></li>
    <% end %>
    <% if current_user.most_recent_dilemma_posed %>
      <li>Most Recent Dilemma Posed: <%= link_to current_user.most_recent_dilemma_posed.title, current_user.most_recent_dilemma_posed %></li>
    <% end %>
  </ul>
</div>
