<div id="option-box-<%= option_number %>" class="option-box" data-parent="<%= decision.id %>">
  <%=
  link_to(
    decision.send("option_#{option_number}"),
    '/',
    id: "decision-#{decision.id}-option-#{option_number}",
    class: ["vote-btn", ("vote-#{current_user.current_vote_for(decision).persuasion == option_number ? 'selected' : 'rejected'}-btn" if current_user.current_vote_for(decision)),("can-vote" if decision.author != current_user)].join(' ')
  )
  %>
  <br>
  <%= link_to(
    decision.send("votes_for_option_#{option_number}"),
    '/',
    id: "decision-#{decision.id}-option-#{option_number}-votes",
    class: ["vote-count", ("option-#{current_user.current_vote_for(decision).persuasion == option_number ? 'selected' : 'rejected'}-votes" if current_user.current_vote_for(decision))].join(' ')) %>
</div>


<!-- <div id="option-box-<%= option_number %>">
  <%=
  link_to(
    decision.send("option_#{option_number}"),
    decision_vote_path(decision.id, persuasion: [true, false][option_number - 1]),
    method: :post,
    class: ["vote-btn", ("vote-#{current_user.current_vote_for(decision).persuasion ? ['selected', 'rejected'][option_number - 1] : ['rejected', 'selected'][option_number - 1]}-btn" if current_user.current_vote_for(decision))].join(' ')
  )
  %>
  <br>
  <%= link_to decision.send("votes_for_option_#{option_number}"), '/', class: "vote-count" %>
</div> -->
