<header>
  <nav>
    <h2 class="logo"><%= link_to "LIMBO", '/' %></h2>
    <%= form_tag(users_path, :method => "get", id: "search-form") do %><%= text_field_tag :search, params[:search], id: "search-form-field", placeholder: "Search People" %><%= submit_tag "Search", style: "display: none", :name => nil %><% end %>
    <ul>
      <li><%= link_to "Create Account", new_user_registration_path if !current_user %></li>
      <li><%= link_to "Sign In", new_user_session_path if !current_user %></li>
      <% if current_user %>
      <li></li>
      <li id="signed-in-as">Signed in as <%= link_to current_user.username, current_user %> <%= image_tag current_user.avatar.image_path, id: "avatar-header" if current_user.avatar%></li>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
</header>
